body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: rgba(238, 238, 238, 1);
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    cursor: pointer;
    color: rgba(85, 85, 85, 1);
    background: rgba(240, 129, 4, 1);
    border: 5px solid rgba(238, 238, 238, 1);
    float: left;
    font-size: 100px;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    margin: 0 auto;
    width: 50%;
    /*border: 1px solid black;*/
    -position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
@media screen and (max-width: 600px) {
  .square {
    height: 50px;
    width: 50px;
    font-size: 54px;
  }
  .game {
    flex-direction: column;
  }
}
  
  .game-info {
    margin-left: 20px;
  }

  .menu {
    margin: 0 auto;
  }
  .menu-button{
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    color: rgba(76, 143, 251, 1);
  }

.menu-button-focus {
background: rgba(66, 105, 174, 1);
}

  .options-wrapper {
    margin: 10px auto;
    font-size: 14px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 70px;
    /*position: absolute;*/
    width: 90%;
    height: 50px;
  }
  .option-title{
      text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    width: auto;
    color: rgba(85, 85, 85, 1);
  }
  .role-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width:auto;
  }
  .border{
      border: 2px solid rgba(85, 85, 85, 0.4);
      border-radius: 5px;
  }

.role {
    width: 50px;
    display: inline-block;
    height: 25%;
    font-size: 34px;
    color: rgba(76, 143, 251, 1);
    margin: 0 5px;
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
  }
.game-board {
    -position: relative;
}
  .menu-container {
    position: relative;
  }

  /**/
.toggled {
    background-color:  rgba(76, 143, 251, 1);
    color: #ffffff;
}
.end-game{
    z-index: 1;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    padding: 10px 120px;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, 0.9);
}
.container-button-end-game {
    justify-content: end;
}
.button-end-game{
    display: inline-block;
    transition: 0.1s;
    cursor: pointer;
    margin: 10px;
    width: 10%;
    padding: 10px 40px;
    background: #ffffff;
    color: rgba(76, 143, 251, 1);
}
.button-end-game:hover {
    background-color:  rgba(76, 143, 251, 1);
    color: #ffffff;
}
.end-game-text {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 150px;
}

.winner{
    text-transform: uppercase;
    font-size: 38px;
    color: rgba(76, 143, 251, 1);
}

/*auth*/

.auth-container{
    width: 300px;
    height: 500px;
    background: gba(85, 85, 85, 0.4);
}


